  
<br>
<br>
      <form class="form-signin" ng-controller="loginCtrl"  ng-submit="login()">
            <div class="row">
         <img src="http://gomosoft.com/assets/img/logo.jpg" alt="" class="col-md-8 col-md-offset-2">
      </div>
      <br>
        <h3 class="form-signin-heading text-center">Ingresar.</h3>
        <small style="display:block" class="text-center"><a href="#/registro" style="font-size:13px">Registrate aquí</a> si aun no eres miembro.</small>
        <br>
        <input  class="form-control" ng-model="cedula" placeholder="Cedula" required="" autofocus="">
        <select class="form-control" ng-model="sala" placeholder="Sala" required="" ng-controller="salasCtrl" >
            <option value="{{sala.id}}" ng-repeat="sala in salas">{{sala.nombre}}</option>
        </select>
       <br>
      <div class="rgt row col-md-offset-0">
        
        <button class="btn btn-lg btn-primary btn-block " style="width: 96%;" type="submit">Ingresar</button>        
        </div>
      </form>

